.mainTitle {
  display: flex;
  align-items: center;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  color: #c8ac59;
}

.navbar-light .navbar-brand {
  color: #c8ac59;
}

.navbar-light .navbar-brand:hover {
  color: #f0ce66;
}

.bg-dark {
  // background-color: #5a6d82 !important;
  background-color: #1e252c !important;
}

.custom-button {
  color: white;
  background-color: green;
  border-radius: 8px;
}

.rightButtons {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-link {
  color: #c8ac59;
}

.navbar {
  margin-bottom: 0px;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.dropdown-item {
  // color: #f0ce66;
  color: black;
}

.link:hover {
  text-decoration: none;
  // color: #c8ac59;
  color: #f0ce66;
}

.link-nav {
  text-decoration: none;
  color: #c8ac59;
  padding-right: 1em;
}

.link-nav:hover {
  text-decoration: none;
  // color: #c8ac59;
  color: #f0ce66;
}

.link-nav:focus {
  text-decoration: none;
  color: #c8ac59;
}

.link-nav-dropdown:active:hover {
  color: pink;
}

.welcomeMsg {
  font-size: 2em;
  padding-right: 20px;
  font-family: "Lobster Two", cursive;
  color: #c8ac59;
}
