.recipeList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.listTitle {
  text-align: center;
  padding-left: 30px;
  margin-bottom: 15px;
  font-size: x-large;
}

.meal-unchosen {
  // height: auto !important;
  padding: 10px;
  position:relative;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.favBtn {
  margin-top: 3px;
  padding-right: 12px;
}

.eachList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.scene {
  // width:15em;
  // height:15em;
  perspective: 30em;
}

// .card {
//   width:100%;
//   height:100%;

// }

.face {
  width:auto;
  height:auto;
  
  // color:#FFF;
  line-height:15em;
  text-align:center;
  position:absolute;
  
  backface-visibility:hidden;
}


.back {
  // background-color:#333;
  transform: rotateY(180deg);
}

.face {
  // width:100%;
  // height:100%;
  
  // color:#FFF;
  line-height:15em;
  text-align:center;
  position:absolute;
  
  backface-visibility:hidden;
}

.back {
  transform: rotateY(180deg);
}

.scene:hover .card {
  transform: rotateY(180deg);
}


// .body {
//   width: 100%;
//   height: 100%;
//   background: #ffffff;
//   overflow: hidden;
// }

// .fade {
//   position: relative;
//   width: 100%;
//   min-height: 60vh;
//   top: -25px;
//   background-image: linear-gradient(0deg, transparent, black 75%);
//   z-index: 1;
// }

// .star-wars {
//   display: flex;
//   justify-content: center;
//   position: relative;
//   height: 800px;
//   color: #212529;
//   font-size: 100%;
//   font-weight: 600;
//   letter-spacing: 6px;
//   line-height: 150%;
//   perspective: 400px;
//   text-align: justify;
// }

// .crawl {
//   position: relative;
//   top: 80px;
//   transform-origin: 50% 100%;
//   animation: crawl 60s linear;
// }

// .crawl > .title {
//   font-size: 90%;
//   text-align: center;
// }

// .crawl > .title h1 {
//   margin: 0 0 100px;
//   text-transform: uppercase;
// }

// @keyframes crawl {
//   0% {
//     top: 500px;
//     transform: rotateX(20deg)  translateZ(0);
//   }
//   100% {
//     top: -8000px;
//     transform: rotateX(25deg) translateZ(-2500px);
//   }
// }
