.mealsContainer {
  width: auto;
  height: 50rem;
  height: auto;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: inital;
  margin: 8px;
}

.mealsContainerTitle {
  text-align: center;
}
