.mealItem {
  border: solid black 0.1em;
  border-radius: 10%;
  padding: 20px;
  // margin: 500px;
}

.recipeBtn {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 12rem;

}

.meal-unchosen {
  display: flex;
  align-items: center;
  width: 24rem;
  height: 20rem;
  margin: 5px;
  text-align: center;
  background-color: #f7f7f7;
}
