// .homeImg {
//   width: 100%;
// }
.mainTitle {
  display: flex;
  align-items: center;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  color: black;
}

.bg-dark {
  background-color: #42505f !important;
}

.custom-button {
  color: white;
  background-color: green;
  border-radius: 8px;
}

.rightButtons {
  width: 100%;
  display: flex;
}

.nav-link {
  color: #c8ac59;
}
