.navbar-custom {
  background-color: #25b176ad;
  height: 80px;
  padding-top: 10px;
  margin-bottom: 0px;

}
.navbar-default .navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  color: black;
}


li.navbar-brand.welcome {
font-size: 22px;

}

a.create{
  border: solid 2px;
  border-radius: 10px;
}

