.guestList {
  width: 18rem;
  margin: top 1px bottom 1px;
  padding-top: 34px;
}


.guestRow {
  background-color:#edf2f8;
  margin-top: 0px;
  border: solid #ffffff 5px;
  border-radius: 2%;
  text-align: center;
  display: list-item;
}


.guestRow:hover {
  background-color: #d8e0e9;
}

.guestTitleContainer {
  background-color: #317dce;
  border: solid grey 0.2em;
  border-radius: 20%;
}
.guestContainerTitle {
  text-align: center;
  font-size: 20px;
  margin: 0px;
}