.main-profile-pic {
  width: 5em;
  height: 5em;
  border: solid black 1.5px;
  margin: 0.5em;
  border-radius: 20%;
}

// width={171}
// height={180}

.name {
  color: black;
  font-size: small;
}

.present-state {
  background-color: grey;
  // width: 100%;
  border-radius: 15%;
  margin-bottom: 0px;
}

.present-state-going {
  // background-color: #92d76f;
  background-color: #9dc589;
  // width: 100%;
  border-radius: 15%;
  margin-bottom: 0px;
}

.present-state-missing {
  // width: 100%;
  border-radius: 15%;
  filter: grayscale(70%);
  margin-bottom: 0px;
}

.present-state-maybe {
  background-color: #e7e482;
  // width: 100%;
  border-radius: 15%;
  margin-bottom: 0px;
}
