.rounded-circle {
  width: 5em;
  height: 5em;
  border: solid red 2px;
  margin: 1em;
}

.name {
  color: black;
  font-size: small;
}

.present-state {
  background-color: grey;
  width: 100%;
  margin-bottom: 0px;
}

.present-state-going {
  background-color: #92d76f;
  width: 100%;
  margin-bottom: 0px;
}

.present-state-missing {
  width: 100%;
  filter: grayscale(70%);
  margin-bottom: 0px;
}

.present-state-maybe {
  background-color: #e7e482;
  width: 100%;
  margin-bottom: 0px;
}
