.rounded-circle {
  width: 5em;
  height: 5em;
  border: solid red 2px;
  margin: 1em;
}

// .pic {
//   object-fit: cover;
// }

// .pic--no {
//   opacity: 1.0;
// }

// .pic--yes {
//   filter: grayscale(70%);
// }

.present-state {
  background-color: grey;
}

.present-state-going {
  background-color: green;
}

.present-state-missing {
  background-color: red;
}
